<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635489155563-trg4dqfss7pub17vn27q8jt9s4vdh4q7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635489155563-trg4dqfss7pub17vn27q8jt9s4vdh4q7</string>
	<key>API_KEY</key>
	<string>AIzaSyCszpXR0OWdDmDcoDSBKPEIfXchLi-oXrk</string>
	<key>GCM_SENDER_ID</key>
	<string>635489155563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitalhouse.integrador.marvel</string>
	<key>PROJECT_ID</key>
	<string>marvel-comics-time</string>
	<key>STORAGE_BUCKET</key>
	<string>marvel-comics-time.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635489155563:ios:d1d32d3890bfc52cf801ae</string>
</dict>
</plist>